.leader-board-fill{
  background-color: #333;
}

.leader-board {
  max-width: 25rem;
  margin: 2vh auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 16px 1px #aaa;
  font-family: sans-serif;
}

.leader-board-header {
  background-color: tomato;
  color: aliceblue;
  text-transform: uppercase;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 10rem;
  position: relative;
}

.leader-board-header-text {
  font-size: 3rem;
  line-height: 3rem;
  position: relative;
  margin-left: 3rem;
  top: 4rem;
}

.leader-board-table {
  background-color: #333;
  color: aliceblue;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.leader-board-thead {
  font-size: 0.7rem;
  color: aliceblue;
  text-transform: uppercase;
}

.nickname-thead {
  text-align: left;
}

.leader-board-tbody .nickname-thead {
  color: aliceblue;
  font-weight: bold;
  font-size: 0.9rem;
}

.position-thead,
.time-thead {
  text-align: right;
}

.leader-board-tbody .leader-board-tr:nth-child(2n) {
  background-color: #444;
}

.position-thead {
  width: 4ch;
  padding-left: 1rem;
}

.time-thead {
  width: 8ch;
}

.leader-board-th {
  padding: 1.5rem 1rem 0.5rem;
}

.leader-board-td {
  padding: 1rem 1rem;
}